/* Global Styles */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

/* Header */
header {
    background-color: #b2a496;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* List Style */
li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

/* Navbar */
.navbar {
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
    background-color: transparent;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar.scrolled {
    background-color: #9d8977;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Space below navbar to prevent content jump */
.navbar+* {
    margin-top: 70px;
}

/* Branding */
.nav-branding {
    margin: 0 40px;
    font-size: 2rem;
    color: #ffffff;
    animation: fadeIn 1s ease-in-out;
}

.nav-branding span:hover {
    color: black;
}

/* Nav Menu */
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    flex-direction: row;
}

/* Nav Link */
.nav-link {
    transition: color 0.7s ease, transform 0.3s ease-in-out;
    font-size: 1.2rem;
    opacity: 0;
    transform: translateY(-10px);
    position: relative;
    animation: slideDown 0.8s forwards;
    padding: 8px 0;
}

.nav-link::before,
.nav-link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transition: transform 0.3s ease;
    left: 0;
}

.nav-link::before {
    top: 0;
    transform: scaleX(0);
    transform-origin: left;
}

.nav-link::after {
    bottom: 0;
    transform: scaleX(0);
    transform-origin: right;
}

.nav-link:hover::before {
    transform: scaleX(1);
    transform-origin: right;
}

.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* Hamburger */
.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #ffffff;
    transition: all 0.3s ease-in-out;
}

.hamburger:hover .bar {
    background-color: black;
}

/* Media Queries for screens smaller than 945px */
@media (max-width: 945px) {
    .hamburger {
        display: block;
    }

    .nav-menu {
        background-color: #b2a496;
        position: fixed;
        left: -100%;
        top: 70px;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: left 0.3s;
        gap: 20px;
    }

    .nav-menu.active {
        left: 0;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-item {
        margin: 16px 0;
        opacity: 0;
        animation: fadeInMobile 0.5s forwards;
    }

    .nav-menu.active .nav-item {
        animation: fadeInMobile 0.8s forwards;
    }
}

/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInMobile {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Main Section */
.home {
    width: 100%;
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.home-background {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

/* Image styling */
.home-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Text container */
.home-background-heading {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.home-background-heading h1 {
    font-size: 2.5rem;
    line-height: 1.2;
    color: white;
    text-shadow: 2px 2px 4px rgb(17, 14, 14);
}

.home-background-heading h3 {
    font-size: 1.5rem;
    line-height: 1.2;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    margin-top: 30px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .home-background-heading h1 {
        font-size: 1.3rem;
    }

    .home-background-heading h3 {
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    .home-background-heading h1 {
        font-size: 0.8rem;
    }

    .home-background-heading h3 {
        font-size: 0.6rem;
    }
}

/* Hero Form */
.hero-form {
    position: absolute;
    top: 550px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 150px;
}

@media (max-width: 924px) {
    .hero-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 372px) {
    .hero-form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .single-welcome-hero-form,
    .search {
        flex: 1 1 100%;
        margin-top: 10px;
    }
}

.single-welcome-hero-form {
    position: relative;
    height: 70px;
    margin-left: 10px;
    display: grid;
    grid-template-columns: 100px 1fr 80px;
    background-color: #ffffff;
    justify-items: center;
    align-items: center;
}

@media (max-width: 768px) {
    .single-welcome-hero-form {
        margin-top: 20px;
    }
}

.single-welcome-hero-form h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 21px;
    font-weight: 350;
}

.single-welcome-hero-form input {
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 470;
    font-size: 17px;
}

.single-welcome-hero-form input:focus {
    outline: none;
}

.hero-search-icon i {
    font-size: 18px;
}

/* Search Button */
.search {
    height: 70px;
    width: 130px;
    margin-left: 10px;
    background-color: #b2a496;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 924px) {
    .search {
        height: 80px;
        width: 130px;
        margin-top: 20px;
    }
}

.search button {
    background-color: transparent;
    border: none;
    font-size: large;
    font-family: "Montserrat", sans-serif;
    margin-right: 10px;
}

.search:hover {
    background-color: #9d8977;
    transition: all ease-out 0.5s;
}

.facilities {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    position: absolute;
    height: 250px;
    width: 80%;
    bottom: -180px;
}

@media (max-width: 1100px) {
    .facilities {
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(3, 300px);
        gap: 30px;
        grid-auto-rows: minmax(200px, auto);
    }
}

@media (max-width: 900px) {
    .facilities {
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(3, 230px);
        gap: 30px;
        grid-auto-rows: minmax(200px, auto);
    }
}

@media (max-width: 780px) {
    .facilities {
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(2, 190px);
        gap: 30px;
        grid-auto-rows: minmax(200px, auto);
    }
}


.services {
    height: 200px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.278);
    background-color: #fff;
    font-family: "Montserrat", sans-serif;
    display: grid;
    justify-items: center;
    align-items: center;
}

.services:hover {
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    background-color: #b2a496;
    color: #ffffff;
}

.services i {
    font-size: 3rem;
}

.selection-header {
    height: 200px;
    width: 100%;
    margin-top: 300px;
}

@media (max-width: 1100px) {
    .selection-header {
        position: relative;
        top: 200px;
    }
}

@media (max-width: 780px) {
    .selection-header {
        position: relative;
        top: 350px;
    }
}

.selection-header h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selection-header p {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 23px;
}

.works-header {
    height: 370px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.work {
    height: 370px;
    margin: 10px 40px 10px 40px;
    box-shadow: 10px 10px 15px rgba(0.278, 0.278, 0.278, 0.278);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.5px solid rgb(235, 226, 226);
}

.work:hover {
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    background-color: #b2a496;
    color: #ffffff;
}

.work:hover .work-icon {
    background-color: transparent;
    border: 0.1px solid white;
}

.work:hover button {
    background-color: white;
    border: 0.1px solid black;
    color: #6c5c4d;
}

@media (max-width: 1130px) {
    .works-header {
        position: relative;
        top: 500px;
        display: flex;
        flex-direction: column;
    }

    .work-icon {
        margin-top: 20px;
    }
}

@media (max-width: 900px) {
    .works-header {
        position: relative;
        top: 620px;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 745px) {
    .works-header {
        position: relative;
        top: 620px;
    }
}

@media (max-width: 500px) {
    .works-header {
        position: relative;
        top: 690px;
    }
}

.work-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    border-radius: 40px;
    background-color: #c5cad38f;
}

.work-icon i {
    font-size: xx-large;
}

.work h3 {
    margin-top: 33px;
    font-family: "Montserrat", sans-serif;
    font-weight: 550;
}

.work p {
    text-align: center;
    margin-top: 30px;
    font-family: "Montserrat", sans-serif;
}

.work button {
    background-color: #fff;
    border: 0.5px solid #b2a496;
    margin: 20px 0px 5px 0px;
    font-family: "Montserrat", sans-serif;
    padding: 5px 10px 5px 10px;
}


.how-work {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.how-work h2,
.how-work p {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-align: center;
}

.how-work h2 {
    margin-bottom: 15px;
}

.how-work p {
    margin-top: 15px;
}

/* Responsive fixes for smaller screens */
@media(min-width: 768px) and (max-width: 1130px) {
    .how-work {
        margin-top: 800px;
    }
}

@media(min-width: 500px) and (max-width: 900px) {
    .how-work {
        margin-top: 920px;
    }
}

@media(min-width: 300px) and (max-width: 580px) {
    .how-work {
        margin-top: 1100px;
    }
}

.how-work h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.how-work p {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 23px;
}

.explore {
    height: 1300px;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 1340px) {
    .explore {
        margin-top: 150px;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(2, 400px);
        gap: 140px;
        grid-auto-rows: minmax(500px, auto);
    }
}

@media (max-width: 970px) {
    .explore {
        position: relative;
        top: 1250px;
        display: flex;
        flex-direction: column;
        gap: 1px;
    }
}

.explore-main {
    height: 600px;
    width: 400px;
    margin-top: 100px;
    border: 1px solid rgba(128, 128, 128, 0.378);
    transition: box-shadow 1s ease, transform 1s ease;
}

@media (max-width: 970px) {
    .explore-main {
        width: 100%;
    }
}

.explore-main:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3), -5px -5px 10px rgba(62, 63, 74, 0.27);
    transform: translateY(-10px);
    /* Adds a slight lift effect on hover */
}

.image-section {
    height: 300px;
    width: 400px;
}

.image-section img {
    height: 100%;
    width: 100%;
}

.feature {
    position: relative;
    top: 10px;
    /* Initial position for smooth animation */
    display: none;
    opacity: 0;
    transition: top 1.5s ease, opacity 1.5s ease;
    /* Smooth transition for top position and opacity */
}

.explore-main:hover .feature {
    display: flex;
    justify-content: center;
    align-items: center;
    top: -40px;
    /* Moves the feature element up by 10px */
    opacity: 1;
    /* Fade-in effect */
}

.feature button {
    border: none;
    outline: none;
    padding: 5px 10px;
    background-color: rgb(255, 0, 0);
    border-radius: 3px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.links {
    height: 30px;
    width: 90px;
    background-color: rgb(0, 0, 0);
    border-radius: 3px;
    margin-left: 200px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.links i {
    color: rgba(255, 255, 255, 0.718);
}

.information h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin: 5px 0px 0px 10px;
}

.reviews {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 700;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.ratings {
    padding-right: 10px;
    border-right: 1px solid gray;
}

.reviews #rating {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px 0px 10px;
    background-color: #9d8977;
    border-radius: 2px;
}

.ratings span {
    color: rgba(255, 0, 0, 0.8);
}

.profile {
    height: 170px;
    width: 400px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 70px 1fr;
}

#info {
    margin-top: 20px;
}

@media (max-width: 970px) {
    #info {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

.profile-image {
    height: 50px;
    width: 50px;
    margin: 30px 10px 0px 10px;
    border-radius: 25px;
}

.profile-image img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.situation {
    display: grid;
    grid-template-columns: 100px 1fr;
}

.div1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin: 0px 0px 0px 10px;
    color: red;
}

.div2 {
    height: 100px;
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    margin: 5px 20px 0px 0px;
}

.how-client {
    margin-top: 200px;
    line-height: 5px;
}

@media(min-width: 1200px) and (max-width: 1400px) {
    .how-client {
        margin-top: 700px;
    }
}

@media(min-width: 900px) and (max-width: 1200px) {
    .how-client {
        margin-top: 700px;
    }
}

@media(min-width: 700px) and (max-width: 900px) {
    .how-client {
        margin-top: 2800px;
    }
}

@media(min-width: 400px) and (max-width: 700px) {
    .how-client {
        margin-top: 2800px;
    }
}

@media(min-width:200px) and (max-width: 400px) {
    .how-client {
        margin-top: 2800px;
    }
}



.how-client h2,
.how-client p {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-align: center;
}

.how-client h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.how-client p {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 23px;
}

.wrapper {
    height: 400px;
    margin: auto;
    border: 1px solid rgba(128, 128, 128, 0.205);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 35px;
    max-width: 100%;
    position: relative;
    background-color: #b2a4963d;
    user-select: none;
    position: relative;
    bottom: -100px;
}

.wrapper i {
    height: 50px;
    width: 50px;
    background: #6c5c4d;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    font-size: 1.25rem;
    transform: translateY(-50%);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.23);
}

.wrapper i:first-child {
    left: 18px;
}

.wrapper i:last-child {
    right: 18px;
}

.card .img {
    background: #b2a496;
    width: 110px;
    height: 110px;
    border-radius: 50%;
}

.card:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3), -5px -5px 10px rgba(62, 63, 74, 0.27);
}

.card .img img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #fff;
}

.crousal {
    scroll-behavior: smooth;
    transition: scroll 0.5s ease-in-out;
}

.wrapper .crousal {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}

.crousal::-webkit-scrollbar {
    display: none;
}

.crousal :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.crousal.no-transition {
    scroll-behavior: auto;
}

.crousal.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.crousal.dragging.card {
    cursor: grab;
    user-select: none;
}

.crousal .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: #fff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    padding-bottom: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card h2 {
    font-weight: 500;
    font-size: 1rem;
    margin: 30px0px 5px;
}

.star {
    height: 70px;
    width: 150px;
}

.star img {
    height: 100%;
    width: 100%;
}

.card span {
    color: #9d8977;
    font-size: 0.7rem;
    text-align: center;
}

@media screen and(max-width: 900px) {
    .wrapper .crousal {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

@media screen and(max-width: 600px) {
    .wrapper .crousal {
        grid-auto-columns: 100%;
    }
}

.review {
    height: 500px;
    width: 100%;
    margin-top: 150px;
    position: relative;
    /* Ensures elements are positioned inside .review */
    display: flex;
    justify-content: center;
    /* Horizontally center content */
    align-items: center;
    /* Vertically center content */
    overflow: hidden;
    /* Hide overflow from large images */
}

.review img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* Ensures the image covers the div properly */
    opacity: 0.3;
    position: absolute;
    /* Keep the image in the background */
    top: 0;
    left: 0;
}

.review p {
    font-family: "Montserrat", sans-serif;
    color: black;
    font-size: 45px;
    margin: 0px 0px 0px 75px;
}

@media (max-width: 1000px) {
    .review p {
        margin-left: 15px;
        font-size: 24px;
    }
}

@media (max-width: 768px) {
    .review p {
        margin-left: 25px;
        font-size: 24px;
    }
}

@media (max-width: 660px) {
    .review p {
        margin-left: 25px;
        font-size: 20px;
    }
}

.main {
    height: 550px;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.main-div {
    height: 530px;
    border: 1px solid rgba(128, 128, 128, 0.667);
}

.main-div:hover {
    transition: all ease-in-out 0.5s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3), -5px -5px 10px rgba(62, 63, 74, 0.27);
}
.main-div:hover #dummy1{
    transition: all ease-in-out 0.5s;
    color: red;
}

.first-div {
    height: 300px;
    width: 400px;
}

.first-div img {
    height: 100%;
    width: 100%;
}

.second-div {
    margin: 10px 0px 0px 0px;
    padding-left: 8px;
    height: 230px;
    width: 400px;
}

.second-div #dummy1 {
    margin: 10px opx 0px 5px;
    font-size: 1.3rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.creator {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.creator .creator-name {
    color: gray;
    margin-left: 10px;
    padding-right: 10px;
    border-right: 3px solid gray;
}

.creator-name span {
    color: black;
    font-size: 1.2rem;
}

.creator .date {
    border-right: 3px solid gray;
    padding-right: 10px;
}

.second-div #dummy {
    margin: 20px 0px 0px 10px;
    font-size: 1rem;
}