/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header {
    background-color: #b2a496;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* List Style */
li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

/* Navbar */
.navbar {
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
    background-color: transparent;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar.scrolled {
    background-color: #9d8977;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Space below navbar to prevent content jump */
.navbar+* {
    margin-top: 70px;
}

/* Branding */
.nav-branding {
    margin: 0 40px;
    font-size: 2rem;
    color: #ffffff;
    animation: fadeIn 1s ease-in-out;
}

.nav-branding span:hover {
    color: black;
}

/* Nav Menu */
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    flex-direction: row;
}

/* Nav Link */
.nav-link {
    transition: color 0.7s ease, transform 0.3s ease-in-out;
    font-size: 1.2rem;
    opacity: 0;
    transform: translateY(-10px);
    position: relative;
    animation: slideDown 0.8s forwards;
    padding: 8px 0;
}

.nav-link::before,
.nav-link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transition: transform 0.3s ease;
    left: 0;
}

.nav-link::before {
    top: 0;
    transform: scaleX(0);
    transform-origin: left;
}

.nav-link::after {
    bottom: 0;
    transform: scaleX(0);
    transform-origin: right;
}

.nav-link:hover::before {
    transform: scaleX(1);
    transform-origin: right;
}

.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* Hamburger */
.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #ffffff;
    transition: all 0.3s ease-in-out;
}

.hamburger:hover .bar {
    background-color: black;
}

/* Media Queries for screens smaller than 945px */
@media (max-width: 945px) {
    .hamburger {
        display: block;
    }

    .nav-menu {
        background-color: #b2a496;
        position: fixed;
        left: -100%;
        top: 70px;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: left 0.3s;
        gap: 20px;
    }

    .nav-menu.active {
        left: 0;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-item {
        margin: 16px 0;
        opacity: 0;
        animation: fadeInMobile 0.5s forwards;
    }

    .nav-menu.active .nav-item {
        animation: fadeInMobile 0.8s forwards;
    }
}

/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInMobile {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Main Section */
.home {
    width: 100%;
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.home-background {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

/* Image styling */
.home-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Text container */
.home-background-heading {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.home-background-heading h1 {
    font-size: 2.5rem;
    line-height: 1.2;
    color: white;
    text-shadow: 2px 2px 4px rgb(17, 14, 14);
}

.home-background-heading h3 {
    font-size: 1.5rem;
    line-height: 1.2;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    margin-top: 30px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .home-background-heading h1 {
        font-size: 1.3rem;
    }

    .home-background-heading h3 {
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    .home-background-heading h1 {
        font-size: 0.8rem;
    }

    .home-background-heading h3 {
        font-size: 0.6rem;
    }
}

/* Hero Form */
.hero-form {
    position: absolute;
    top: 550px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 150px;
}

@media (max-width: 924px) {
    .hero-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 372px) {
    .hero-form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .single-welcome-hero-form,
    .search {
        flex: 1 1 100%;
        margin-top: 10px;
    }
}

.single-welcome-hero-form {
    position: relative;
    height: 70px;
    margin-left: 10px;
    display: grid;
    grid-template-columns: 100px 1fr 80px;
    background-color: #ffffff;
    justify-items: center;
    align-items: center;
}

@media (max-width: 768px) {
    .single-welcome-hero-form {
        margin-top: 20px;
    }
}

.single-welcome-hero-form h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 21px;
    font-weight: 350;
}

.single-welcome-hero-form input {
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 470;
    font-size: 17px;
}

.single-welcome-hero-form input:focus {
    outline: none;
}

.hero-search-icon i {
    font-size: 18px;
}

/* Search Button */
.search {
    height: 70px;
    width: 130px;
    margin-left: 10px;
    background-color: #b2a496;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 924px) {
    .search {
        height: 80px;
        width: 130px;
        margin-top: 20px;
    }
}

.search button {
    background-color: transparent;
    border: none;
    font-size: large;
    font-family: "Montserrat", sans-serif;
    margin-right: 10px;
}

.search:hover {
    background-color: #9d8977;
    transition: all ease-out 0.5s;
}

.facilities {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    position: absolute;
    height: 250px;
    width: 80%;
    bottom: -180px;
}

@media (max-width: 1100px) {
    .facilities {
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(3, 300px);
        gap: 30px;
        grid-auto-rows: minmax(200px, auto);
    }
}

@media (max-width: 900px) {
    .facilities {
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(3, 230px);
        gap: 30px;
        grid-auto-rows: minmax(200px, auto);
    }
}

@media (max-width: 780px) {
    .facilities {
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(2, 190px);
        gap: 30px;
        grid-auto-rows: minmax(200px, auto);
    }
}


.services {
    height: 200px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.278);
    background-color: #fff;
    font-family: "Montserrat", sans-serif;
    display: grid;
    justify-items: center;
    align-items: center;
}

.services:hover {
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    background-color: #b2a496;
    color: #ffffff;
}

.services i {
    font-size: 3rem;
}

.selection-header {
    height: 200px;
    width: 100%;
    margin-top: 300px;
}

@media (max-width: 1100px) {
    .selection-header {
        position: relative;
        top: 200px;
    }
}

@media (max-width: 780px) {
    .selection-header {
        position: relative;
        top: 350px;
    }
}

.selection-header h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selection-header p {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 23px;
}

.works-header {
    height: 370px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.work {
    height: 370px;
    margin: 30px 40px 30px 40px;
    box-shadow: 10px 10px 15px rgba(0.278, 0.278, 0.278, 0.278);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.5px solid rgb(235, 226, 226);
}

.work:hover {
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    background-color: #b2a496;
    color: #ffffff;
}

.work:hover .work-icon {
    background-color: transparent;
    border: 0.1px solid white;
}

@media (max-width: 1130px) {
    .works-header {
        position: relative;
        top: 500px;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 900px) {
    .works-header {
        position: relative;
        top: 620px;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 745px) {
    .works-header {
        position: relative;
        top: 620px;
    }
}

@media (max-width: 500px) {
    .works-header {
        position: relative;
        top: 690px;
    }
}

.work-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    border-radius: 40px;
    background-color: #c5cad38f;
}

.work-icon i {
    font-size: xx-large;
}

.work h3 {
    margin-top: 33px;
    font-family: "Montserrat", sans-serif;
    font-weight: 550;
}

.work p {
    text-align: center;
    margin-top: 30px;
    font-family: "Montserrat", sans-serif;
}

.work button {
    background-color: #fff;
    border: 0.5px solid #b2a496;
    margin: 20px 0px 5px 0px;
    font-family: "Montserrat", sans-serif;
    padding: 5px 10px 5px 10px;
}